<div class="profile-container">
    <h2>Edit Profile</h2>

    <form [formGroup]="profileForm" (ngSubmit)="onSave()">
        <label>Username:
            <input *ngIf="!loading; else usernameLoading" formControlName="username" />
            <ng-template #usernameLoading>
                <div class="skeleton-input"></div>
            </ng-template>
        </label>

        <label>First Name:
            <input *ngIf="!loading; else firstNameLoading" formControlName="firstName" />
            <ng-template #firstNameLoading>
                <div class="skeleton-input"></div>
            </ng-template>
        </label>

        <label>Last Name:
            <input *ngIf="!loading; else lastNameLoading" formControlName="lastName" />
            <ng-template #lastNameLoading>
                <div class="skeleton-input"></div>
            </ng-template>
        </label>

        <label>Email:
            <input *ngIf="!loading; else emailLoading" formControlName="email" />
            <ng-template #emailLoading>
                <div class="skeleton-input"></div>
            </ng-template>
        </label>


        <button type="submit" [disabled]="profileForm.invalid">Save</button>
    </form>
</div>